{% extends "template.html" %}
{% block conteudo %}
        <form action="/criarconsulta" method="post">
            <fieldset>
                <div class="form-group">
                    <label for="nome">Consulte os jogos de acordo com a categoria</label>
                    <input type="text" id="id-categoria" name="id-categoria" class="form-control">
                    <button type="submit" class="btn btn-primary btn-salvar-consultar">Salvar</button>
                </div>
            </fieldset>
        </form>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Console</th>
                </tr>
            </thead>
            <tbody>
                {% for jg1 in jogo %}
                <tr>
                    <td>{{ jg1['id'] }}</td>
                    <td>{{ jg1['nome'] }}</td>
                    <td>{{ jg1['categoria'] }}</td>
                    <td>{{ jg1['console'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}
