{% extends "template.html" %}
{% block conteudo %}
        <hr>
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Console</th>
                </tr>
            </thead>
            <tbody>
                {% for jg1 in jogo %}
                <tr>
                    <td>{{ jg1['id'] }}</td>
                    <td>{{ jg1['nome'] }}</td>
                    <td>{{ jg1['categoria'] }}</td>
                    <td>{{ jg1['console'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

{% endblock %}